<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="common-body">
    <div class="new-customer-container">
        <h2>Add New Customer</h2>
        <form onsubmit="return addNewCustomer()">
            <!-- Form to enter new item details -->
            <label for="newCustomerName">Customer Name:</label>
            <input type="text" id="newCustomerName" name="newCustomerName" required>

            <label for="newPhoneNumber">Mobile Number:</label>
            <input type="number" id="newPhoneNumber" name="newPhoneNumber" required>

            <button type="submit">Insert</button>
        </form>
    </div>

    <script>
        function addNewCustomer() { 
            var newCustomerName = document.getElementById('newCustomerName').value;
            var newPhoneNumber = document.getElementById('newPhoneNumber').value;

            // Create a new FormData object to send data to the server (Flask)
            var formData = new FormData();
            formData.append('newCustomerName', newCustomerName)
            formData.append('newPhoneNumber', newPhoneNumber)

            // Send a POST request to the server to save the new item
            fetch("{{ url_for('save_new_customer') }}", {
                method: 'POST',
                body: formData
            })
            .then(response => {
                // Check if the response is successful (you might want to add more checks)
                if (response.ok) {
                    // Redirect to the item_details page
                    window.location.href = "{{ url_for('customer_details') }}";
                } else {
                    // Handle error
                    console.error("Error saving new customer");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });

            // Prevent the form from submitting and reloading the page
            return false;
        
        }
    </script>
</body>
</html>
